@model IEnumerable<EducationAdminSystem.Models.Adminstrator>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdminRole.ActionList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actionlist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NavList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastIp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdminRole.ActionList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actionlist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NavList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastIp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdminstratorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdminstratorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdminstratorId })
        </td>
    </tr>
}

</table>
